 .container{
    background-color: rgb(2, 22, 2);
    /* height: 10vh; */
     width: 100%; 
    display: block;
} 
.logo img{
    width: 10%;
    height: 5vh;
    margin: 30px;
    /* margin-top: 1%; */
    background-color: rgb(27, 27, 27);
}
.logo{
    height: 30%;
}
.navbar{ 
     margin-left: 90%; 
     width: 50%; 
     display: flex; 
     margin-top: 20%; 
     border-end-end-radius: 50px; 
     border-end-end-radius: 40px; 
     margin-right: 20%; 
    background-color: rgb(44, 31, 31); 
} 
.container ul{
       display: flex;   
    /* text-align:center; */
     justify-content:center;  
    

} 
.container ul li{
    list-style: none;
    margin-left: 50px;
    font-size: large;
}
.container ul li a{
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.container ul li a:hover{
    background-color: whitesmoke;
    color:black;
}
 /* .navbar a:hover{
    background-color: black;
    
}  */



